.container10 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  padding: 2em;
  margin: 0 auto;
  div {
    margin: 5px;
    padding: 5px;
    width: 1000px;
    p {
      font-size: 20px;
      text-align: justify;
      padding-top: 1em;
      padding-bottom: 2em;
    }
    h1 {
      font-size: 28px;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    img {
      width: 1000px;
    }
  }
}
