.container1 {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 2em;
  margin: 0 auto;
  div {
    margin: 5px;
    padding: 5px;
    width: 600px;
  }
}
.container2 {
  display: flex;
  flex-direction: row;
  width: 600px;
  div {
    margin: 5px;
    padding: 30px;
    width: 600px;
    h1 {
      font-size: 36px;
      text-align: left;
    }
  }
  a {
    text-decoration: none;
    &:visited {
      color: #424242;
    }
    &:hover {
      color: #6e6e6e;
    }
  }
}
.container2 {
  display: flex;
  flex-direction: row;
  width: 600px;
  div {
    margin: 5px;
    padding: 30px;
    width: 600px;
    h1 {
      font-size: 36px;
      text-align: left;
    }
    h2 {
      font-size: 24px;
      text-align: left;
    }
  }
  a {
    text-decoration: none;
    &:visited {
      color: #424242;
    }
    &:hover {
      color: #6e6e6e;
    }
  }
  img {
    padding-top: 2em;
    width: 300px;
  }
}
.container3 {
  display: flex;
  flex-direction: column;
  width: 600px;
  div {
    margin: 5px;
    padding: 5px;
    width: 600px;
    h2 {
      font-size: 30px;
      text-align: center;
    }
    p {
      font-size: 18px;
      text-align: justify;
    }
  }
}
.container4 {
  display: flex;
  flex-direction: row;
  width: 1050px;
  padding: 2em;
  margin: 0 auto;
  div {
    & > div {
      &:nth-child(1) {
        flex-grow: 1;
      }
      &:nth-child(2) {
        flex-grow: 4;
      }
      &:nth-child(3) {
        flex-grow: 1;
      }
      &:nth-child(4) {
        flex-grow: 4;
      }
    }
    & > img {
      margin-right: 1em;
    }
    & > h3 {
      font-size: 24px;
      text-align: left;
    }
    & > p {
      font-size: 18px;
      text-align: left;
    }
  }
  a {
    text-decoration: none;
    &:visited {
      color: #424242;
    }
    &:hover {
      color: #6e6e6e;
    }
  }
}
